{
  "openapi": "3.1.0",
  "info": {
    "title": "Terminal Lobby agent-api",
    "version": "1.5.1",
    "summary": "Start and drive Claude Code conversations on the devvm over HTTP.",
    "description": "agent-api is Terminal Lobby's machine-facing interface. Terminal Lobby keeps Claude Code conversations alive in tmux on a developer workstation and serves them to a browser; this API serves the same conversations to a program.\n\nHow to use it, in the order a client needs to learn it:\n\n1. Authenticate every request with `Authorization: Bearer <token>`. The token names one caller and resolves to one operating-system account; every conversation you see and create belongs to that account.\n2. `POST /v1/conversations` starts a conversation. You choose the working directory, the model, the reasoning effort and the permission mode. The working directory must be inside that account's `code` directory.\n3. `POST /v1/conversations/{id}/messages` sends a message. To send images or files with it, post `multipart/form-data` with a `text` field and one `file` part per file; each file is stored on the workstation and its path is added to the message. It returns immediately with a task id, because a turn takes minutes and sometimes hours. Add `?wait=N` (up to 300 seconds) to hold the request until the turn settles: a short turn then comes back as the finished task in one request.\n4. `GET /v1/tasks/{id}` polls that task until its status is `done`, `failed` or `cancelled`. Add `?wait=N` to make it a long-poll that returns as soon as the status moves, so each poll you pay for reports a change. On `needs_input` the agent is blocked on a question, which the task carries with its kind and options; answer a permission prompt or a plan approval with `POST /v1/tasks/{id}/answer`, and relay anything else to a person.\n5. `GET /v1/conversations/{id}/transcript?after=<index>` reads only what was said since you last looked.\n\nTwo rules worth knowing before you write the client. A conversation processes one turn at a time: a second message to a busy conversation is queued, not interleaved, and different conversations run concurrently. And a conversation someone started at the keyboard is listable and readable but not writable \u2014 `POST .../messages` against one is refused with 403. A conversation you created stays yours until you delete it with `DELETE /v1/conversations/{id}`; if it goes 24 hours without a turn the workstation suspends it to free the memory, and your next message resumes it before the turn runs, which adds a few seconds.\n\nDelegations run the other way. A session on the workstation can hand a Caller work only that Caller can do, such as reaching a person on a channel it holds. The workstation sends the Caller a message carrying the task and a callback; the Caller does the work and answers with `POST /v1/delegations/{id}/result`, using the same bearer token as every other request. `GET /v1/delegations?status=sent` lists what is waiting on you. A result posted after the delegation's expiry is refused with 410: drop the work, nobody is waiting for it.",
    "license": {
      "name": "AGPL-3.0-or-later"
    }
  },
  "servers": [
    {
      "url": "https://terminal-api.viktorbarzin.me",
      "description": "The public endpoint, for a caller off the devvm. Of this service it routes /v1/ and /openapi.json only (/health stays on the devvm), and every /v1 request needs a bearer token. The proxy waits up to 330 seconds for a response, which covers the 300-second ?wait= cap; give your client a read timeout at least as long as the longest wait it sends."
    },
    {
      "url": "http://127.0.0.1:8710",
      "description": "Loopback on the devvm itself, for a program running there."
    }
  ],
  "tags": [
    {
      "name": "conversations",
      "description": "Starting, listing and reading Claude Code conversations."
    },
    {
      "name": "tasks",
      "description": "Following one message from acceptance to an answer."
    },
    {
      "name": "delegations",
      "description": "Work the workstation hands to a Caller, and the result the Caller sends back."
    },
    {
      "name": "service",
      "description": "Liveness and this document."
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "tags": [
          "service"
        ],
        "operationId": "getHealth",
        "summary": "Report that the service is up.",
        "description": "Always answers 200 with the body `ok`. Requires no credential, so a monitor can poll it. It reports the process, not the tmux server behind it: use GET /v1/conversations to learn whether conversations are reachable.",
        "security": [],
        "responses": {
          "200": {
            "description": "The service is running.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "The literal string `ok`."
                },
                "example": "ok"
              }
            }
          }
        }
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "service"
        ],
        "operationId": "getOpenAPI",
        "summary": "Return this document.",
        "description": "Requires no credential, because a client has to read the contract before it can hold one. It describes the routes; it reveals nothing about the conversations behind them.",
        "security": [],
        "responses": {
          "200": {
            "description": "The OpenAPI 3.1 description of this service.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "An OpenAPI 3.1 document."
                }
              }
            }
          }
        }
      }
    },
    "/v1/conversations": {
      "get": {
        "tags": [
          "conversations"
        ],
        "operationId": "listConversations",
        "summary": "List every conversation on the caller's account.",
        "description": "Returns all live tmux sessions belonging to the operating-system account the credential resolves to, including conversations a person started at the keyboard. Those are readable but not writable \u2014 check `writable` before sending a message, or read the 403 the messages route returns.",
        "responses": {
          "200": {
            "description": "The conversations, in the order the tmux server reports them.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A list of conversations.",
                  "required": [
                    "conversations"
                  ],
                  "properties": {
                    "conversations": {
                      "type": "array",
                      "description": "Every live conversation on the caller's account.",
                      "items": {
                        "$ref": "#/components/schemas/Conversation"
                      }
                    }
                  }
                },
                "example": {
                  "conversations": [
                    {
                      "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                      "name": "agent-01M2KR6R0079D934XTRGMJVSF3",
                      "cwd": "/home/wizard/code/infra",
                      "state": "running",
                      "created_by": "muse",
                      "writable": true,
                      "queued_turns": 0
                    },
                    {
                      "conversation_id": "review",
                      "name": "reviewing the broker design",
                      "cwd": "/home/wizard/code/terminal-lobby",
                      "state": "awaiting",
                      "writable": false,
                      "queued_turns": 0
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "post": {
        "tags": [
          "conversations"
        ],
        "operationId": "createConversation",
        "summary": "Start a new Claude Code conversation.",
        "description": "Creates a detached tmux session running Claude Code in the given directory, and returns its `conversation_id`. The conversation is yours: you can send it messages, and so can nobody else.\n\nThe conversation stays alive until someone kills it. Nothing here closes one, so open them deliberately \u2014 each holds a Claude process and its context in memory on a shared workstation.\n\nThe new conversation's `state` is `no_agent` for the first second or two, while Claude Code starts. Sending a message immediately is fine: the message waits for the session to be ready.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConversationRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Everything but the directory left to the harness's defaults.",
                  "value": {
                    "cwd": "/home/wizard/code/infra"
                  }
                },
                "full": {
                  "summary": "A named conversation that may edit files without asking.",
                  "value": {
                    "cwd": "/home/wizard/code/terminal-lobby",
                    "model": "opus",
                    "effort": "high",
                    "permission_mode": "acceptEdits",
                    "name": "muse-lobby-work"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The conversation was created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                },
                "example": {
                  "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "name": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "cwd": "/home/wizard/code/infra",
                  "state": "no_agent",
                  "created_by": "muse",
                  "writable": true,
                  "queued_turns": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "409": {
            "description": "The name is already taken by a live conversation, either as its id or as its current session name. A conversation keeps the id it was created with after the workstation renames its session, so that id stays taken until the conversation is deleted. Choose another, or omit `name` and let the service mint one.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "conversation \"muse-lobby-work\" already exists; pick another name"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/conversations/{id}": {
      "get": {
        "tags": [
          "conversations"
        ],
        "operationId": "getConversation",
        "summary": "Describe one conversation.",
        "description": "The same record the list returns, for a single conversation. A conversation that has been killed is gone rather than marked dead, so this answers 404.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationID"
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Conversation"
                },
                "example": {
                  "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "name": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "cwd": "/home/wizard/code/infra",
                  "state": "done",
                  "created_by": "muse",
                  "writable": true,
                  "queued_turns": 0
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      },
      "delete": {
        "tags": [
          "conversations"
        ],
        "operationId": "deleteConversation",
        "summary": "Delete a conversation you created.",
        "description": "Ends the conversation: the tmux session and the Claude Code process in it are stopped, and the workstation's session snapshots record the deletion so a restore does not bring it back. The transcript stays on disk, where a person can still read or resume it, but this API no longer answers to the id: reading it afterwards is 404.\n\nOnly the caller that created the conversation may delete it; any other conversation, including one a person started at the keyboard, is refused with 403. Every unfinished task on the conversation, running or queued, is cancelled first and listed in the response, so no queued message is sent into a session that is going away. A suspended conversation is deleted without being resumed.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationID"
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation was deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResult"
                },
                "example": {
                  "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "deleted": true,
                  "cancelled_tasks": [
                    "01M2KRA4M1V0D6GQ1K3C9XWZ7T"
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The conversation is readable but not writable by this caller, so it may not delete it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "conversation \"review\" belongs to \"scratch\", so it is readable but not writable by \"muse\""
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/conversations/{id}/transcript": {
      "get": {
        "tags": [
          "conversations"
        ],
        "operationId": "getTranscript",
        "summary": "Read a conversation's history, whole or from where you left off.",
        "description": "The conversation's messages, oldest first, from the transcript Claude Code writes to disk. Readable for any conversation on the account, including ones you did not create.\n\nThis is the conversation, not the machinery: tool calls, tool results and the harness's own bookkeeping records are left out. It can be large, and a long conversation runs to megabytes, so prefer a task's `result` when all you need is the answer to one message.\n\nEvery message carries an `index`, its position in the whole history, which names the same message on every call. Read incrementally by remembering the highest index you have seen and passing it as `after`; use `last` to see only the most recent few. `total` is always the size of the whole history, so you know how much a window left out. A `/clear` in the conversation starts a new transcript, and the indexes start again from 0; a `total` lower than the last one you saw means that happened.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationID"
          },
          {
            "$ref": "#/components/parameters/TranscriptAfter"
          },
          {
            "$ref": "#/components/parameters/TranscriptLast"
          }
        ],
        "responses": {
          "200": {
            "description": "The conversation so far.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "A conversation's messages.",
                  "required": [
                    "conversation_id",
                    "total",
                    "messages"
                  ],
                  "properties": {
                    "conversation_id": {
                      "type": "string",
                      "description": "The conversation these messages belong to."
                    },
                    "total": {
                      "type": "integer",
                      "description": "How many messages the whole history holds, whatever `after` and `last` selected. The next message to be written will have this as its index.",
                      "minimum": 0
                    },
                    "messages": {
                      "type": "array",
                      "description": "The selected messages, oldest first: every message when neither `after` nor `last` is given.",
                      "items": {
                        "$ref": "#/components/schemas/TranscriptMessage"
                      }
                    }
                  }
                },
                "example": {
                  "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "total": 2,
                  "messages": [
                    {
                      "index": 0,
                      "role": "user",
                      "text": "What does stacks/proxy actually run?",
                      "at": "2026-09-16T11:02:31.442Z"
                    },
                    {
                      "index": 1,
                      "role": "assistant",
                      "text": "Two products on one NordVPN tunnel: the per-user remote browsers, and cluster VPN egress.",
                      "at": "2026-09-16T11:02:48.119Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "`after` or `last` is not a non-negative whole number.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "after must be a non-negative whole number, not \"-1\""
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such conversation, or it has no Claude Code transcript \u2014 a plain shell session has none.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "conversation \"scratch\" has no Claude transcript (no Claude has run in it, or it has not started writing one yet)"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/conversations/{id}/messages": {
      "post": {
        "tags": [
          "conversations"
        ],
        "operationId": "sendMessage",
        "summary": "Send a message to a conversation.",
        "description": "Accepts the message and returns a task id. By default it does not wait for the answer: a turn takes minutes and sometimes hours, so poll `GET /v1/tasks/{task_id}`.\n\nWith `?wait=N` the request is held for up to N seconds. If the turn settles in that time, as `done`, `failed`, `cancelled` or `needs_input`, the answer is 200 with the task itself, the same JSON `GET /v1/tasks/{task_id}` serves, and no poll is needed. If it is still going, the answer is the usual 202 receipt and you poll as before. A bad `wait` is refused with 400 before the message is sent. Hanging up ends the wait; the message is still sent and the turn still runs.\n\nA conversation runs one turn at a time. If it is busy, `queued_behind` says how many turns are ahead of yours and your message waits its turn rather than interrupting. Different conversations run at the same time.\n\nOnly a conversation you created is writable. One a person started at the keyboard is refused with 403, whatever the list says you can read.\n\nA suspended conversation (state `suspended`) is resumed before the turn runs: the message is accepted as usual, and the task starts once the conversation's Claude is back, a few seconds later. If the resume fails, for instance because the transcript has been deleted, the task fails with the reason and the message is not sent.\n\nImages and files ride the same route as `multipart/form-data`: one `text` field and any number of `file` parts, which is what `curl -F text=... -F file=@shot.png` sends. Each file is written to the conversation's attachment store on the workstation, outside every git repository, and the message the agent receives is your text followed by an `Attached files:` line and one absolute path per line. The agent opens them with its own tools. Text is optional when at least one file is sent.\n\nWhether a part is an image is decided from its bytes, not from the Content-Type you send: PNG, JPEG, GIF and WebP count as images, everything else as a file. Limits: 25 MB per image, 100 MB per other file, 200 MB for the whole request, and the text field up to 1024 KB as in the JSON form. Past any of them the answer is 413 and nothing is stored or sent. An empty file part, an unknown form field, or a message with neither text nor files is refused with 400. If any part is refused, the files already written for that request are removed. A slow upload has 30 minutes to arrive.",
        "parameters": [
          {
            "$ref": "#/components/parameters/ConversationID"
          },
          {
            "$ref": "#/components/parameters/Wait"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              },
              "examples": {
                "question": {
                  "summary": "A question.",
                  "value": {
                    "text": "Which stacks still read the retired forgejo registry?"
                  }
                },
                "work": {
                  "summary": "A piece of work.",
                  "value": {
                    "text": "Add a --dry-run flag to scripts/presence, test-first, and land it on master."
                  }
                }
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageUpload"
              },
              "examples": {
                "screenshot": {
                  "summary": "A question about a screenshot (curl -F text=... -F file=@shot.png).",
                  "value": {
                    "text": "Why does this dashboard show no data for the last hour?",
                    "file": [
                      "(binary contents of shot.png)"
                    ]
                  }
                },
                "documents": {
                  "summary": "Two documents and an instruction.",
                  "value": {
                    "text": "Compare these two invoices and list the differences.",
                    "file": [
                      "(binary contents of march.pdf)",
                      "(binary contents of april.pdf)"
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Only with `wait`: the turn settled within the wait, and this is its task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "example": {
                  "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                  "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "status": "done",
                  "result": "Three stacks still reference it, all in comments. Nothing pulls from it.",
                  "detail_url": "/v1/conversations/agent-01M2KR6R0079D934XTRGMJVSF3/transcript",
                  "created_at": "2026-09-16T11:02:31.442Z",
                  "updated_at": "2026-09-16T11:02:58.870Z"
                }
              }
            }
          },
          "202": {
            "description": "The message was accepted and a task created for it. Without `wait` this is always the answer; with it, the turn was still going when the wait ran out.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MessageAccepted"
                },
                "example": {
                  "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                  "status": "accepted",
                  "queued_behind": 0
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "The conversation is readable but not writable by this caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "conversation \"review\" was not created through this API, so it is readable but not writable (it belongs to whoever started it in the terminal)"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "413": {
            "description": "The multipart message is over a limit: 25 MB for an image, 100 MB for any other file, 200 MB for the whole request, or 1024 KB for the text. Nothing was stored and no message was sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "file \"capture.mov\" is over the 100 MB limit for a file"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/tasks/{id}": {
      "get": {
        "tags": [
          "tasks"
        ],
        "operationId": "getTask",
        "summary": "Poll one message's progress.",
        "description": "Returns the task's status and, depending on it, the field that matters:\n\n- `accepted`: queued behind another turn. Nothing has reached the agent yet.\n- `running`: the agent is working.\n- `needs_input`: the agent is blocked on a question, in `question`, with `kind` saying what sort and `options` listing the rows it offers. `answer_with` names the bodies `POST /v1/tasks/{id}/answer` takes for it. A `permission` prompt and a `plan` approval can be answered through this API; a `choice` (an AskUserQuestion menu) or an `unknown` question has to be answered by a person in the lobby or the terminal, so relay it. The conversation stays blocked until one of the two happens.\n- `done`: finished. `result` is the agent's final message.\n- `failed`: the turn could not be run or followed. `error` says why.\n- `cancelled`: you cancelled it.\n\nThe first three can change; the last three never do. `detail_url` points at the conversation's full transcript, which carries the whole turn.\n\nWith `?wait=N` this is a long-poll: the request is held until the status differs from the one it had when the request arrived, or N seconds pass, and returns the task either way. A task that is `done`, `failed`, `cancelled` or `needs_input` is returned at once, because it will not move by itself. Hanging up ends the wait.\n\nTasks live in memory, so a restart of this service loses the ids while the conversations survive. A 404 for an id you were polling means restart, not lost work: list the conversations and read the transcript.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskID"
          },
          {
            "$ref": "#/components/parameters/Wait"
          }
        ],
        "responses": {
          "200": {
            "description": "The task.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Task"
                },
                "examples": {
                  "running": {
                    "summary": "The agent is working.",
                    "value": {
                      "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                      "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                      "status": "running",
                      "detail_url": "/v1/conversations/agent-01M2KR6R0079D934XTRGMJVSF3/transcript",
                      "created_at": "2026-09-16T11:02:31.442Z",
                      "updated_at": "2026-09-16T11:02:33.110Z"
                    }
                  },
                  "needs_input": {
                    "summary": "Blocked on a permission prompt this API can answer.",
                    "value": {
                      "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                      "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                      "status": "needs_input",
                      "question": "Bash command\nrm -rf build\nRemove the build directory\nDo you want to proceed?",
                      "kind": "permission",
                      "options": [
                        {
                          "index": 1,
                          "label": "Yes"
                        },
                        {
                          "index": 2,
                          "label": "Yes, and always allow access to build/ from this project"
                        },
                        {
                          "index": 3,
                          "label": "No"
                        }
                      ],
                      "answer_with": [
                        "option",
                        "text"
                      ],
                      "detail_url": "/v1/conversations/agent-01M2KR6R0079D934XTRGMJVSF3/transcript",
                      "created_at": "2026-09-16T11:02:31.442Z",
                      "updated_at": "2026-09-16T11:06:02.004Z"
                    }
                  },
                  "done": {
                    "summary": "Finished, with the agent's answer.",
                    "value": {
                      "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                      "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                      "status": "done",
                      "result": "Three stacks still reference it, all in comments. Nothing pulls from it.",
                      "detail_url": "/v1/conversations/agent-01M2KR6R0079D934XTRGMJVSF3/transcript",
                      "created_at": "2026-09-16T11:02:31.442Z",
                      "updated_at": "2026-09-16T11:09:55.870Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/v1/tasks/{id}/cancel": {
      "post": {
        "tags": [
          "tasks"
        ],
        "operationId": "cancelTask",
        "summary": "Stop following a message, and interrupt its turn.",
        "description": "What this does depends on where the task is. A queued message is dropped before anything reaches the agent, and `interrupted` is false. A running turn is interrupted the way the Stop button in the terminal does it, and `interrupted` is true.\n\nOnly the caller that sent the message may cancel it. A task that has already finished cannot be cancelled: that is a 409, not an error to retry.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskID"
          }
        ],
        "responses": {
          "200": {
            "description": "The task is cancelled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelResult"
                },
                "example": {
                  "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                  "status": "cancelled",
                  "interrupted": true
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Another caller sent this message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "task \"01M2KR7X4QC3N8ZB0H5WFTJ2AK\" was sent by \"muse\", so it cannot be cancelled by \"scratch\""
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The task already reached an end state.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "task \"01M2KR7X4QC3N8ZB0H5WFTJ2AK\" is already done"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tasks/{id}/answer": {
      "post": {
        "tags": [
          "tasks"
        ],
        "operationId": "answerTask",
        "summary": "Answer the question a blocked task is waiting on.",
        "description": "For a task in `needs_input`. Send `{\"option\": <index>}` to pick one of the task's `options`, or `{\"text\": \"...\"}` to answer in words, whichever the task's `answer_with` lists.\n\n- `permission` (Claude Code asking before it runs a tool): an option picks that row, as pressing its number in the terminal would. Text declines the tool call and tells the agent what to do instead, through the prompt's No row; a prompt without a No row takes options only.\n- `plan` (the plan approval): an option approves the plan with that row. Text sends the words back as feedback, and the agent keeps planning, usually returning to `needs_input` with a revised plan.\n- `choice` (an AskUserQuestion menu) and `unknown`: refused with 422. Terminal Lobby answers an AskUserQuestion through its own question card, which this API does not reach, and an unknown question gives nothing to check an answer against. Relay those to a person.\n\nThe question on screen is read again before anything is typed. If it is no longer the one the task reported, for example the next tool call's prompt with the same rows over a different command, nothing is typed, the task is updated to show the current question, and the answer is 409: read the task and answer again.\n\nOn success the task goes back to `running` and is returned. If the answer was typed but the dialog had not cleared by the time the request returned, the response carries a `warning`; if the dialog is still up, the task returns to `needs_input` within a few seconds. Only the caller that sent the message may answer it.",
        "parameters": [
          {
            "$ref": "#/components/parameters/TaskID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              },
              "examples": {
                "option": {
                  "summary": "Pick a row: allow the tool call once.",
                  "value": {
                    "option": 1
                  }
                },
                "text": {
                  "summary": "Decline a tool call and say what to do instead.",
                  "value": {
                    "text": "Do not delete build/; run make clean instead."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The answer was sent and the task is back to running, or carries a warning saying the dialog had not visibly cleared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnswerResult"
                },
                "example": {
                  "task_id": "01M2KR7X4QC3N8ZB0H5WFTJ2AK",
                  "conversation_id": "agent-01M2KR6R0079D934XTRGMJVSF3",
                  "status": "running",
                  "detail_url": "/v1/conversations/agent-01M2KR6R0079D934XTRGMJVSF3/transcript",
                  "created_at": "2026-09-16T11:02:31.442Z",
                  "updated_at": "2026-09-16T11:06:40.215Z"
                }
              }
            }
          },
          "400": {
            "description": "The body is not exactly one of `option` and `text`, the option is not one of the task's rows, or the text is blank, longer than 2000 bytes, or more than one line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "option 4 is not one of the rows on offer: 1 (Yes), 2 (Yes, and always allow access to build/ from this project), 3 (No)"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "Another caller sent this message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "task \"01M2KR7X4QC3N8ZB0H5WFTJ2AK\" was sent by \"muse\", so it cannot be answered by \"scratch\""
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The task is not in `needs_input`, or the question on screen is not the one the task reported. Nothing was typed. Read the task and decide again.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "the question on screen is not the one this task reported, so nothing was typed. The task now shows what is on screen (a permission question); read it and answer again"
                }
              }
            }
          },
          "422": {
            "description": "The question is of a kind this API cannot answer safely: an AskUserQuestion menu, a question the lobby cannot read, or words for a permission prompt that has no No row. Retrying will not help; relay it to a person.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "this question is an AskUserQuestion menu, which this API cannot answer. Terminal Lobby answers those as data through the question card in the lobby, where session-events holds the call, rather than by typing into the menu, and this service does not reach session-events. Answer it in the lobby or the terminal, then poll the task again"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/delegations": {
      "get": {
        "tags": [
          "delegations"
        ],
        "operationId": "listDelegations",
        "summary": "List the delegations you created or that are handed to you.",
        "description": "Returns delegations you created or that name you as the Caller, newest first. A Caller checking for work it still owes asks for `?status=sent`. A delegation past its expiry reads as `expired` here as it does everywhere. Finished delegations are kept for 14 days after they finish.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DelegationStatusFilter"
          },
          {
            "$ref": "#/components/parameters/DelegationLimit"
          }
        ],
        "responses": {
          "200": {
            "description": "The delegations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DelegationList"
                },
                "example": {
                  "delegations": [
                    {
                      "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                      "caller": "muse",
                      "created_by": "homelab",
                      "from_session": "infra-7",
                      "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                      "status": "sent",
                      "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                      "created_at": "2026-10-02T09:00:00Z",
                      "updated_at": "2026-10-02T09:00:02Z",
                      "expires_at": "2026-10-03T09:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      },
      "post": {
        "tags": [
          "delegations"
        ],
        "operationId": "createDelegation",
        "summary": "Hand a piece of work to a Caller and get back the message to send it.",
        "description": "Records a `pending` delegation and returns it with `message`, the exact text to send to the Caller. Sending is the creator's job: after the send, record the outcome with `POST /v1/delegations/{id}/sent` or `POST /v1/delegations/{id}/undelivered`. Then wait for the result with `GET /v1/delegations/{id}?wait=N`.\n\nOnly Callers named in the workstation's `TL_DELEGATION_CREATORS` may create one; with that setting empty, nobody can. Each target Caller takes at most 20 delegations in any rolling hour and 100 in any rolling day; past either, the request is refused with 429 and a `Retry-After` header in seconds.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDelegationRequest"
              },
              "examples": {
                "default": {
                  "summary": "Ask Muse to reach a person, with the default day to answer.",
                  "value": {
                    "caller": "muse",
                    "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                    "from_session": "infra-7"
                  }
                },
                "long": {
                  "summary": "An errand that may take a week.",
                  "value": {
                    "caller": "muse",
                    "task": "Watch for the Octopus bill this week and send me the total when it arrives.",
                    "expires_in_s": 604800
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The delegation, `pending`, with the message to send.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delegation"
                },
                "example": {
                  "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                  "caller": "muse",
                  "created_by": "homelab",
                  "from_session": "infra-7",
                  "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                  "status": "pending",
                  "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                  "created_at": "2026-10-02T09:00:00Z",
                  "updated_at": "2026-10-02T09:00:00Z",
                  "expires_at": "2026-10-03T09:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "You are not a creator, or the target Caller holds no credential here or acts for a different account.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "\"muse\" may not create delegations; the Callers that may are named in TL_DELEGATION_CREATORS on the workstation"
                }
              }
            }
          },
          "429": {
            "description": "The target Caller has reached its hourly or daily cap. Nothing was recorded. Retry after the number of seconds in `Retry-After`.",
            "headers": {
              "Retry-After": {
                "description": "Seconds until the oldest delegation in the full window leaves it.",
                "schema": {
                  "type": "integer",
                  "description": "Seconds, 1 or more."
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "muse has been handed 20 delegations in the last hour, the most it takes; try again in 17m4s"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/delegations/{id}": {
      "get": {
        "tags": [
          "delegations"
        ],
        "operationId": "getDelegation",
        "summary": "Read one delegation, optionally waiting for it to change.",
        "description": "Returns the delegation. The creator and the target Caller may read it; anyone else gets 404.\n\nWith `?wait=N` this is a long-poll: the request is held until the status differs from the one it had when the request arrived, the delegation expires, or N seconds pass, and returns the delegation either way. A finished delegation (`done`, `failed`, `expired`, `undelivered`) is returned at once. Hanging up ends the wait.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DelegationID"
          },
          {
            "$ref": "#/components/parameters/Wait"
          }
        ],
        "responses": {
          "200": {
            "description": "The delegation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delegation"
                },
                "examples": {
                  "pending": {
                    "summary": "Recorded; the send is not confirmed yet.",
                    "value": {
                      "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                      "caller": "muse",
                      "created_by": "homelab",
                      "from_session": "infra-7",
                      "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                      "status": "pending",
                      "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                      "created_at": "2026-10-02T09:00:00Z",
                      "updated_at": "2026-10-02T09:00:00Z",
                      "expires_at": "2026-10-03T09:00:00Z"
                    }
                  },
                  "done": {
                    "summary": "The Caller posted its result.",
                    "value": {
                      "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                      "caller": "muse",
                      "created_by": "homelab",
                      "from_session": "infra-7",
                      "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                      "status": "done",
                      "result": "Saturday works. She suggests 19:30 and asks whether to book the usual place.",
                      "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                      "created_at": "2026-10-02T09:00:00Z",
                      "updated_at": "2026-10-02T10:41:07Z",
                      "expires_at": "2026-10-03T09:00:00Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "description": "No such delegation, or one you neither created nor are named in. The two answer the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "no delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\""
                }
              }
            }
          }
        }
      }
    },
    "/v1/delegations/{id}/sent": {
      "post": {
        "tags": [
          "delegations"
        ],
        "operationId": "markDelegationSent",
        "summary": "Record that a delegation's message reached the Caller.",
        "description": "Moves a `pending` delegation to `sent`. Only the creator may. Takes no body.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DelegationID"
          }
        ],
        "responses": {
          "200": {
            "description": "The delegation, now `sent`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delegation"
                },
                "example": {
                  "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                  "caller": "muse",
                  "created_by": "homelab",
                  "from_session": "infra-7",
                  "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                  "status": "sent",
                  "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                  "created_at": "2026-10-02T09:00:00Z",
                  "updated_at": "2026-10-02T09:00:02Z",
                  "expires_at": "2026-10-03T09:00:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "You can see this delegation but did not create it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "only \"homelab\", which created delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\", records whether it was sent"
                }
              }
            }
          },
          "404": {
            "description": "No such delegation, or one you neither created nor are named in. The two answer the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "no delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\""
                }
              }
            }
          },
          "409": {
            "description": "The delegation is no longer `pending`: already sent, answered, expired or undelivered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\" is already sent"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/delegations/{id}/undelivered": {
      "post": {
        "tags": [
          "delegations"
        ],
        "operationId": "markDelegationUndelivered",
        "summary": "Record that a delegation's message could not be sent, and why.",
        "description": "Moves a `pending` delegation to `undelivered` with the reason. Only the creator may. The trace line for this request carries `event: delegation.undelivered` and the reason, which the workstation alerts on.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DelegationID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UndeliveredRequest"
              },
              "example": {
                "reason": "WhatsApp Web is logged out on the browser host"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The delegation, now `undelivered`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delegation"
                },
                "example": {
                  "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                  "caller": "muse",
                  "created_by": "homelab",
                  "from_session": "infra-7",
                  "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                  "status": "undelivered",
                  "reason": "WhatsApp Web is logged out on the browser host",
                  "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                  "created_at": "2026-10-02T09:00:00Z",
                  "updated_at": "2026-10-02T09:00:04Z",
                  "expires_at": "2026-10-03T09:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "You can see this delegation but did not create it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "only \"homelab\", which created delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\", records whether it was sent"
                }
              }
            }
          },
          "404": {
            "description": "No such delegation, or one you neither created nor are named in. The two answer the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "no delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\""
                }
              }
            }
          },
          "409": {
            "description": "The delegation is no longer `pending`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\" is already sent"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    },
    "/v1/delegations/{id}/result": {
      "post": {
        "tags": [
          "delegations"
        ],
        "operationId": "postDelegationResult",
        "summary": "Post the result of a delegation handed to you.",
        "description": "Records the target Caller's answer and moves the delegation to `done` or `failed`. Only the Caller the delegation names may post it, once. A result is accepted while the delegation is `pending` or `sent`, so it does not matter whether the creator has recorded the send yet.\n\nAfter `expires_at` the result is refused with 410. Nobody is waiting for it any more: drop the work and do not retry.",
        "parameters": [
          {
            "$ref": "#/components/parameters/DelegationID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DelegationResultRequest"
              },
              "examples": {
                "done": {
                  "summary": "The work was done.",
                  "value": {
                    "status": "done",
                    "result": "Saturday works. She suggests 19:30 and asks whether to book the usual place."
                  }
                },
                "failed": {
                  "summary": "The work could not be done, and why.",
                  "value": {
                    "status": "failed",
                    "result": "Anca has not replied after two reminders; she may be travelling."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The delegation, now `done` or `failed`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Delegation"
                },
                "example": {
                  "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
                  "caller": "muse",
                  "created_by": "homelab",
                  "from_session": "infra-7",
                  "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
                  "status": "done",
                  "result": "Saturday works. She suggests 19:30 and asks whether to book the usual place.",
                  "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
                  "created_at": "2026-10-02T09:00:00Z",
                  "updated_at": "2026-10-02T10:41:07Z",
                  "expires_at": "2026-10-03T09:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "description": "You can see this delegation but it was handed to another Caller.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\" was handed to \"muse\", so only \"muse\" may post its result"
                }
              }
            }
          },
          "404": {
            "description": "No such delegation, or one you neither created nor are named in. The two answer the same.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "no delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\""
                }
              }
            }
          },
          "409": {
            "description": "The delegation already has a result, or its message was never delivered.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\" is already done"
                }
              }
            }
          },
          "410": {
            "description": "The delegation expired before the result arrived. Drop the work; do not retry.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "delegation \"d_01M3XCGTYZCBAYPYFT1T8C3CCF\" expired at 2026-10-03T09:00:00Z and nobody is waiting for its result any more; drop the work and do not retry"
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "A long-lived token issued for one caller, sent as `Authorization: Bearer <token>`. It resolves to one operating-system account on the workstation, and everything the request does happens as that account. Revoking one caller's token affects no other caller."
      }
    },
    "parameters": {
      "ConversationID": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The conversation id, as returned by POST /v1/conversations.",
        "schema": {
          "type": "string",
          "description": "1 to 32 characters of letters, digits, underscore or dash.",
          "pattern": "^[a-zA-Z0-9_-]{1,32}$"
        },
        "example": "agent-01M2KR6R0079D934XTRGMJVSF3"
      },
      "TaskID": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The task id, as returned by POST /v1/conversations/{id}/messages.",
        "schema": {
          "type": "string",
          "description": "A 26-character sortable identifier."
        },
        "example": "01M2KR7X4QC3N8ZB0H5WFTJ2AK"
      },
      "Wait": {
        "name": "wait",
        "in": "query",
        "required": false,
        "description": "How many seconds to hold the request for, from 0 to 300. Omitted or 0 means do not wait, which is how the route behaved before the parameter existed. Anything else that is not a whole number in that range is refused with 400 before anything happens.",
        "schema": {
          "type": "integer",
          "description": "Seconds, 0 to 300.",
          "minimum": 0,
          "maximum": 300,
          "default": 0
        },
        "example": 120
      },
      "TranscriptAfter": {
        "name": "after",
        "in": "query",
        "required": false,
        "description": "Return only messages whose `index` is greater than this. Pass the highest index you have already read to get what was said since. An index past the end returns an empty list, not an error.",
        "schema": {
          "type": "integer",
          "description": "A message index, 0 or more.",
          "minimum": 0
        },
        "example": 41
      },
      "TranscriptLast": {
        "name": "last",
        "in": "query",
        "required": false,
        "description": "Return at most this many messages, the most recent ones. Applied after `after` when both are given. `last=0` returns no messages and still reports `total`.",
        "schema": {
          "type": "integer",
          "description": "A count, 0 or more.",
          "minimum": 0
        },
        "example": 5
      },
      "DelegationID": {
        "name": "id",
        "in": "path",
        "required": true,
        "description": "The delegation id, as returned by POST /v1/delegations and quoted in the delegation's message.",
        "schema": {
          "type": "string",
          "description": "`d_` followed by a 26-character sortable identifier."
        },
        "example": "d_01M3XCGTYZCBAYPYFT1T8C3CCF"
      },
      "DelegationStatusFilter": {
        "name": "status",
        "in": "query",
        "required": false,
        "description": "Return only delegations in this status. A Caller looking for work still owed asks for `sent`.",
        "schema": {
          "type": "string",
          "description": "One delegation status.",
          "enum": [
            "pending",
            "sent",
            "done",
            "failed",
            "expired",
            "undelivered"
          ]
        },
        "example": "sent"
      },
      "DelegationLimit": {
        "name": "limit",
        "in": "query",
        "required": false,
        "description": "Return at most this many delegations, the newest. Omitted or 0 means 50; anything above 500 is read as 500.",
        "schema": {
          "type": "integer",
          "description": "A count.",
          "minimum": 0,
          "default": 50
        },
        "example": 20
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request was malformed or asked for something outside the allowed range.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "cwd \"/etc\" is outside /home/wizard/code"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "No credential, or one this workstation did not issue. The body is plain text, not JSON, because it is written before any handler runs.",
        "content": {
          "text/plain": {
            "schema": {
              "type": "string",
              "description": "A short reason."
            },
            "example": "invalid bearer token"
          }
        }
      },
      "NotFound": {
        "description": "No such conversation or task.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "no conversation \"agent-gone\""
            }
          }
        }
      },
      "ServerError": {
        "description": "The workstation could not answer: the tmux server is unreachable, or a file could not be read.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            },
            "example": {
              "error": "listing sessions: list-sessions: exit status 1"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "description": "Every refusal from a /v1 route has this shape.",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "string",
            "description": "What was wrong, in words meant to be shown to a person."
          }
        }
      },
      "Conversation": {
        "type": "object",
        "description": "One Claude Code conversation, running in its own terminal session on the workstation.",
        "required": [
          "conversation_id",
          "name",
          "cwd",
          "state",
          "writable",
          "queued_turns"
        ],
        "properties": {
          "conversation_id": {
            "type": "string",
            "description": "The id to address this conversation by, in every other route."
          },
          "name": {
            "type": "string",
            "description": "The display name a person gave it in the terminal interface, or the id when nobody has."
          },
          "cwd": {
            "type": "string",
            "description": "The directory the conversation is working in."
          },
          "state": {
            "type": "string",
            "description": "What the agent in this conversation is doing right now, independent of any task: `running` is working, `awaiting` is blocked on a question for a person, `done` is idle and ready for a message, `no_agent` means no Claude Code is running in the session at all \u2014 a plain shell, or a conversation that has only just been created \u2014 and `suspended` means the conversation sat idle long enough that its Claude was stopped to give the memory back: 24 hours without a turn for a conversation created through this API, longer for one a person started. Its transcript is on disk. A message from the caller that created it resumes it first and then runs the turn, so to that caller it is still writable; the first turn after a resume starts a few seconds later than usual.",
            "enum": [
              "running",
              "awaiting",
              "done",
              "no_agent",
              "suspended"
            ]
          },
          "created_by": {
            "type": "string",
            "description": "The credential that created this conversation through the API. Absent when a person started it at the keyboard."
          },
          "writable": {
            "type": "boolean",
            "description": "Whether this caller may send it messages or delete it: true only for a conversation this caller created, suspended or not. False for a conversation someone else created or a person started."
          },
          "queued_turns": {
            "type": "integer",
            "description": "How many turns in this conversation have not finished, counting the one in flight. Zero means the conversation is idle and a message sent now starts immediately.",
            "minimum": 0
          }
        }
      },
      "CreateConversationRequest": {
        "type": "object",
        "description": "What a new conversation should be.",
        "required": [
          "cwd"
        ],
        "properties": {
          "cwd": {
            "type": "string",
            "description": "The absolute path of the directory the conversation works in. It must exist and be inside the account's own `code` directory \u2014 `/home/wizard/code` for the `wizard` account. Symbolic links are resolved before the check, so a link out of that tree is refused.",
            "example": "/home/wizard/code/infra"
          },
          "model": {
            "type": "string",
            "description": "The model to run, passed to the harness as `--model`. Omit for the harness's default. Not enumerated here because the available models change with every Claude Code release; ask a person, or omit it.",
            "example": "opus"
          },
          "effort": {
            "type": "string",
            "description": "How hard the model reasons, low through max. Omit for the harness's default.",
            "enum": [
              "low",
              "medium",
              "high",
              "xhigh",
              "max"
            ],
            "example": "high"
          },
          "permission_mode": {
            "type": "string",
            "description": "How the agent handles actions that would normally need approval. `default` asks; `acceptEdits` edits files without asking but still asks for anything else; `plan` produces a plan and changes nothing; `bypassPermissions` asks for nothing. OMITTING THIS GIVES bypassPermissions, because you are not sitting at the terminal: a session that asks has nobody to answer and the turn hangs rather than failing. Send `plan` when you want to look without touching.",
            "enum": [
              "default",
              "acceptEdits",
              "bypassPermissions",
              "plan"
            ],
            "example": "acceptEdits",
            "default": "bypassPermissions"
          },
          "name": {
            "type": "string",
            "description": "A name for the conversation, which also becomes its id. Must be unique among live conversations. Omit and the service mints a sortable one.",
            "pattern": "^[a-zA-Z0-9_-]{1,32}$",
            "example": "muse-lobby-work"
          }
        }
      },
      "SendMessageRequest": {
        "type": "object",
        "description": "One message for the agent.",
        "required": [
          "text"
        ],
        "properties": {
          "text": {
            "type": "string",
            "description": "What to say to the agent, exactly as it should arrive. It is typed into the conversation as one message, so a multi-line instruction works and needs no escaping.",
            "minLength": 1,
            "example": "Which stacks still read the retired forgejo registry?"
          }
        }
      },
      "SendMessageUpload": {
        "type": "object",
        "description": "One message for the agent with images or files, sent as multipart/form-data. Send at least one of the two fields.",
        "properties": {
          "text": {
            "type": "string",
            "description": "What to say to the agent, as in the JSON form. Optional when a file is sent; at most 1024 KB. The stored files' paths are appended after it.",
            "example": "Why does this dashboard show no data for the last hour?"
          },
          "file": {
            "type": "array",
            "description": "The files, one part each, repeated for several. The filename you send is kept, sanitized, at the end of the stored name. PNG, JPEG, GIF and WebP (judged from the bytes) are images, up to 25 MB each; anything else is a file, up to 100 MB each.",
            "items": {
              "type": "string",
              "contentMediaType": "application/octet-stream",
              "description": "One file's bytes."
            }
          }
        }
      },
      "MessageAccepted": {
        "type": "object",
        "description": "The receipt for an accepted message.",
        "required": [
          "task_id",
          "status",
          "queued_behind"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "Poll GET /v1/tasks/{task_id} with this."
          },
          "status": {
            "type": "string",
            "description": "Always `accepted` here. It is the first of the six values a task can have.",
            "enum": [
              "accepted"
            ]
          },
          "queued_behind": {
            "type": "integer",
            "description": "How many turns are ahead of this one in the same conversation, counting the one in flight. Zero means it starts immediately; anything else means it waits its turn.",
            "minimum": 0
          }
        }
      },
      "Task": {
        "type": "object",
        "description": "One message's progress from acceptance to an answer.",
        "required": [
          "task_id",
          "conversation_id",
          "status",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "This task's id."
          },
          "conversation_id": {
            "type": "string",
            "description": "The conversation the message was sent to."
          },
          "status": {
            "type": "string",
            "description": "Where the turn is. `accepted`, `running` and `needs_input` will change; `done`, `failed` and `cancelled` never will, so a poller can stop. A turn that starts background work stays `running` until that work ends and the agent has answered after it.",
            "enum": [
              "accepted",
              "running",
              "needs_input",
              "done",
              "failed",
              "cancelled"
            ]
          },
          "question": {
            "type": "string",
            "description": "Present on `needs_input` only: what the agent is asking. For a permission prompt, the tool, what it will do and the prompt's own question; for a plan approval, the last lines of the plan; for an AskUserQuestion, the question as the agent posed it; otherwise the bottom of the terminal."
          },
          "kind": {
            "type": "string",
            "description": "Present on `needs_input` only: what sort of question it is. `permission` and `plan` can be answered with `POST /v1/tasks/{id}/answer`; `choice` and `unknown` need a person.",
            "enum": [
              "permission",
              "plan",
              "choice",
              "unknown"
            ]
          },
          "options": {
            "type": "array",
            "description": "Present on `needs_input` when the question offers rows: each one's number and label exactly as drawn. Answer with the number. Labels can change while a question stands, such as a context percentage climbing, so read them fresh.",
            "items": {
              "$ref": "#/components/schemas/TaskOption"
            }
          },
          "answer_with": {
            "type": "array",
            "description": "Present on `needs_input` when this API can answer the question: the answer bodies it takes, `option`, `text` or both. Absent means a person has to answer it.",
            "items": {
              "type": "string",
              "description": "A field of AnswerRequest.",
              "enum": [
                "option",
                "text"
              ]
            }
          },
          "result": {
            "type": "string",
            "description": "Present on `done` only: the agent's final message for this turn."
          },
          "background_running": {
            "type": "boolean",
            "description": "Present on `done` only, and only when true: the turn settled while background work it started (a command run in the background, a monitor, a background subagent) was still running. A turn that starts background work is kept `running` until that work ends and the turn its completion starts has answered, which is the `result`; this flag means that wait passed its 30-minute bound, so `result` is what the agent said before the work finished and the conversation may speak again when it does."
          },
          "error": {
            "type": "string",
            "description": "Present on `failed` only: why the turn could not be run or followed."
          },
          "detail_url": {
            "type": "string",
            "description": "The conversation's full transcript, which carries the whole turn rather than just its final message. Absent while the status is `accepted`, because nothing has happened yet.",
            "example": "/v1/conversations/agent-01M2KR6R0079D934XTRGMJVSF3/transcript"
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the message was accepted."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the status last changed. It does not move while nothing happens, so it is the age of the current status rather than the time of the last poll."
          }
        }
      },
      "CancelResult": {
        "type": "object",
        "description": "The outcome of a cancellation.",
        "required": [
          "task_id",
          "status",
          "interrupted"
        ],
        "properties": {
          "task_id": {
            "type": "string",
            "description": "The task that was cancelled."
          },
          "status": {
            "type": "string",
            "description": "Always `cancelled` here.",
            "enum": [
              "cancelled"
            ]
          },
          "interrupted": {
            "type": "boolean",
            "description": "True when a turn in flight was interrupted. False when the message was still queued and was dropped before the agent saw it."
          },
          "warning": {
            "type": "string",
            "description": "Present only when the task was cancelled but the interrupt did not reach the conversation. The service has stopped following the turn; the agent may still be working."
          }
        }
      },
      "DeleteResult": {
        "type": "object",
        "description": "The outcome of a deletion.",
        "required": [
          "conversation_id",
          "deleted",
          "cancelled_tasks"
        ],
        "properties": {
          "conversation_id": {
            "type": "string",
            "description": "The conversation that was deleted."
          },
          "deleted": {
            "type": "boolean",
            "description": "Always true here: a deletion that did not happen is an error response.",
            "enum": [
              true
            ]
          },
          "cancelled_tasks": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "A task id."
            },
            "description": "The unfinished tasks on the conversation, running or queued, that were cancelled by the deletion, in the order their messages were sent. Empty when there were none."
          }
        }
      },
      "TranscriptMessage": {
        "type": "object",
        "description": "One thing that was said in a conversation.",
        "required": [
          "index",
          "role",
          "text"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "description": "This message's position in the whole history, counted from 0. It names the same message on every call; pass the highest one you have read as `after` to get only what came since.",
            "minimum": 0
          },
          "role": {
            "type": "string",
            "description": "Who said it.",
            "enum": [
              "user",
              "assistant"
            ]
          },
          "text": {
            "type": "string",
            "description": "What was said."
          },
          "at": {
            "type": "string",
            "format": "date-time",
            "description": "When, as recorded by the harness. Absent on the few records that carry no timestamp."
          }
        }
      },
      "TaskOption": {
        "type": "object",
        "description": "One row a blocked task's question offers.",
        "required": [
          "index",
          "label"
        ],
        "properties": {
          "index": {
            "type": "integer",
            "description": "The row's number as the question draws it, counted from 1. Send it as `option` to pick the row.",
            "minimum": 1
          },
          "label": {
            "type": "string",
            "description": "The row's text exactly as drawn."
          }
        }
      },
      "AnswerRequest": {
        "type": "object",
        "description": "An answer to a blocked task's question: exactly one of `option` and `text`, from the kinds the task's `answer_with` lists.",
        "additionalProperties": false,
        "oneOf": [
          {
            "required": [
              "option"
            ]
          },
          {
            "required": [
              "text"
            ]
          }
        ],
        "properties": {
          "option": {
            "type": "integer",
            "description": "The `index` of one of the task's `options`.",
            "minimum": 1,
            "example": 1
          },
          "text": {
            "type": "string",
            "description": "Words, on one line. For a permission prompt they decline the tool call and tell the agent what to do instead; for a plan approval they go back as feedback. Leading and trailing spaces are dropped.",
            "minLength": 1,
            "maxLength": 2000,
            "example": "Do not delete build/; run make clean instead."
          }
        }
      },
      "AnswerResult": {
        "description": "The task after an answer, with a warning when the answer was typed but the dialog had not visibly cleared.",
        "allOf": [
          {
            "$ref": "#/components/schemas/Task"
          },
          {
            "type": "object",
            "description": "What an answer adds to the task.",
            "properties": {
              "warning": {
                "type": "string",
                "description": "Present only when the answer was typed but the dialog was still on screen when the request returned. If it is still up, the task returns to `needs_input` within a few seconds; read the task before answering again."
              }
            }
          }
        ]
      },
      "Delegation": {
        "type": "object",
        "description": "One piece of work handed to a Caller, and what became of it. Visible to the Caller that created it and to the Caller it names, and to nobody else.",
        "required": [
          "delegation_id",
          "caller",
          "created_by",
          "task",
          "status",
          "message",
          "created_at",
          "updated_at",
          "expires_at"
        ],
        "properties": {
          "delegation_id": {
            "type": "string",
            "description": "`d_` followed by a 26-character sortable identifier. Quote it back on every call about this delegation."
          },
          "caller": {
            "type": "string",
            "description": "The Caller the work is handed to, the only one that may post its result."
          },
          "created_by": {
            "type": "string",
            "description": "The Caller that created the delegation and sends its message, typically `homelab`."
          },
          "from_session": {
            "type": "string",
            "description": "The name of the workstation session that asked for the work, when it said. Absent otherwise."
          },
          "task": {
            "type": "string",
            "description": "The work, in the delegating session's own words."
          },
          "status": {
            "type": "string",
            "enum": [
              "pending",
              "sent",
              "done",
              "failed",
              "expired",
              "undelivered"
            ],
            "description": "`pending`: recorded, and the message has not been confirmed sent. `sent`: the message reached the Caller's channel. `done` and `failed`: the Caller posted a result, in `result`. `expired`: `expires_at` passed without a result. `undelivered`: the message could not be sent, and `reason` says why. The last four never change."
          },
          "result": {
            "type": "string",
            "description": "The Caller's answer. Present on `done` and `failed` only."
          },
          "reason": {
            "type": "string",
            "description": "Why the message could not be sent. Present on `undelivered` only."
          },
          "message": {
            "type": "string",
            "description": "The exact text sent to the Caller: a header line naming the delegation, the session and the expiry, the task, and where to post the result. Rendered once, when the delegation is created."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the delegation was created, RFC 3339 in UTC to the second."
          },
          "updated_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the status last changed."
          },
          "expires_at": {
            "type": "string",
            "format": "date-time",
            "description": "When the delegation stops accepting a result. After it, the status reads `expired` and a result is refused with 410."
          }
        },
        "example": {
          "delegation_id": "d_01M3XCGTYZCBAYPYFT1T8C3CCF",
          "caller": "muse",
          "created_by": "homelab",
          "from_session": "infra-7",
          "task": "Ask Anca whether Saturday 4 October works for dinner, and tell me what she says.",
          "status": "pending",
          "message": "[homelab delegation d_01M3XCGTYZCBAYPYFT1T8C3CCF]\nfrom: session infra-7\nexpires: 2026-10-03T09:00:00Z\n\nAsk Anca whether Saturday 4 October works for dinner, and tell me what she says.\n\nWhen done, POST the result to\nhttps://terminal-api.viktorbarzin.me/v1/delegations/d_01M3XCGTYZCBAYPYFT1T8C3CCF/result\nwith your agent-api bearer token and body {\"status\":\"done\",\"result\":\"...\"} (or \"failed\").",
          "created_at": "2026-10-02T09:00:00Z",
          "updated_at": "2026-10-02T09:00:00Z",
          "expires_at": "2026-10-03T09:00:00Z"
        }
      },
      "CreateDelegationRequest": {
        "type": "object",
        "description": "A delegation to create. Only Callers the workstation names in `TL_DELEGATION_CREATORS` may send one.",
        "required": [
          "caller",
          "task"
        ],
        "additionalProperties": false,
        "properties": {
          "caller": {
            "type": "string",
            "description": "The Caller to hand the work to. It must hold a credential on this workstation and act for the same account as you, or the request is refused with 403."
          },
          "task": {
            "type": "string",
            "minLength": 1,
            "maxLength": 8000,
            "description": "The work, as the Caller should read it: what to do and what to send back. 1 to 8000 characters, not blank."
          },
          "from_session": {
            "type": "string",
            "maxLength": 200,
            "description": "The name of the session asking, shown in the message so the Caller and the person reading can tell where it came from. At most 200 characters, with no line breaks or other control characters."
          },
          "expires_in_s": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1209600,
            "default": 86400,
            "description": "Seconds until the delegation stops accepting a result. Default a day; at most 14 days."
          }
        }
      },
      "UndeliveredRequest": {
        "type": "object",
        "description": "Why a delegation's message could not be sent.",
        "required": [
          "reason"
        ],
        "additionalProperties": false,
        "properties": {
          "reason": {
            "type": "string",
            "minLength": 1,
            "maxLength": 2000,
            "description": "What failed, in words an operator can act on. Recorded on the delegation and in the trace, where it raises an alert. Not blank; at most 2000 characters."
          }
        }
      },
      "DelegationResultRequest": {
        "type": "object",
        "description": "The Caller's answer to a delegation.",
        "required": [
          "status",
          "result"
        ],
        "additionalProperties": false,
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "done",
              "failed"
            ],
            "description": "`done` when the work was done, `failed` when it could not be. Either way, say what happened in `result`."
          },
          "result": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32000,
            "description": "What happened, in words the delegating session can use without asking again. Not blank; at most 32000 characters."
          }
        }
      },
      "DelegationList": {
        "type": "object",
        "description": "Delegations you created or that name you, newest first.",
        "required": [
          "delegations"
        ],
        "properties": {
          "delegations": {
            "type": "array",
            "description": "The delegations, newest first. Empty, never null, when there are none.",
            "items": {
              "$ref": "#/components/schemas/Delegation"
            }
          }
        }
      }
    }
  }
}
